<!DOCTYPE html>
<html>
    <head>
        <script src="../../app/static/js/clienthome.js"></script>
        <link href="../css/style.css" rel="stylesheet">
        <a href="{{ url_for('client-home') }}">Accueil</a> <p>user.email@example.com</p> <a href="{{ url_for('index-1') }}" id="">Logout</a>
    </head>
    <body>
        <form method="post">
            <label for="transaction">Faites une transaction</label>
            <ul>
                <li>
                    <select name="type" id="typepaiement">
                        <option value="">Choississez une option</option>
                        <option value="CASH_IN">CASH_IN</option>
                        <option value="CASH_OUT">CASH_OUT</option>
                        <option value="DEBIT">DEBIT</option>
                        <option value="PAYMENT">PAYMENT</option>
                        <option value="TRANSFER">TRANSFER</option>
                    </select>
                </li>
                <li>
                    <input type="number" id="amount" name="amount"/>
                </li>
                <li>
                    <input type="text" id="nomdest" name="nomdest"/>
                </li>
            </ul>
            <div class="button">
                <button type="submit">Valider</button>
              </div>
        </form>
    </body>
</html>