<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification de transaction</title>
</head>
<body>
    <header>
        <h1>
          <a href="/">Estimation d'une transaction</a>
        </h1>
        <nav>
            <button id="home_btn"></button>
            <button id="logout_btn"></button>
        </nav>
    </header>
    <div>
        <h2>Choississez un rôle :</h2>
        <!-- Utiliser des boutons de type radio pour le choix -->
        <input type="radio" id="client" name="role" value="client" checked>
        <label for="client">Client</label>

        <input type="radio" id="operateur" name="role" value="operateur">
        <label for="operateur">Opérateur</label>
    </div>
    <div>
        <form action="" method="post"></form>
    </div>
    <script src="script.js"></script>   
</body>
</html>