{% extends "base.html" %}

{% block content %}
    <div class="centered-container">
        <div>
            <h1>Bienvenue</h1>
            <form class="toggle">
                <input id="user-client"  type="radio" name="user" value="client" checked="checked" />
                <label for="user-client">Client</label>
                <input id="user-operator" type="radio" name="user" value="operator" />
                <label for="user-operator">Operator</label>
            </form>
        </div>
        <div class="cardview">
            <span id="authy-header">Inscrivez-vous</span>

            <form class="authentification" method="post">
                <input type="email" id="email" name="email" placeholder="Adresse email" required>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>

                <button>Valider</button>

                <span id="authy-warning">Aucun autre mot de passe ne vous sera redonnée!</span>
            </form>
        </div>
    </div>
{% endblock %}